<html>
<head>
    <link id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light&amp;display=swap" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://grupoegess.com/static/assest/css/theme.css">
<link rel="stylesheet" href="https://grupoegess.com/static/assest/css/theme-elements.css">
<link rel="stylesheet" href="https://grupoegess.com/static/assest/css/theme-blog.css">
<link rel="stylesheet" href="https://grupoegess.com/static/assest/css/theme-shop.css">
</head>
<body>
    <div role="main" class="main" style="min-height: calc(100vh - 393px);">
        <div class="container">
            <div class="row mt-5">
                <div class="col text-center">
                    <div class="logo">
                        <img width="300" src="http://grupoegess.com/static/logo/egess_logo-04.png" alt="Porto">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <hr class="solid my-5">
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <div class="overflow-hidden mb-2">
                        <h2 class="font-weight-normal text-7 mb-0 appear-animation" data-appear-animation="maskUp">
                            <strong class="font-weight-extra-bold">Click en el siguiente enlace para </strong>
                            <a style="background-color: #0a6bd5;border: 1px solid;padding: 5px;border-radius: 5px;color: white;text-decoration: none;" href="https://grupoegess.com/success/?activate={{ usuario }}">Confirmar</a></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <hr class="solid my-5">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
