<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li><a href="/migracion/dep/0">1. Migrar Departamentos</a></li>
    <li><a href="/migracion/dep/1">2. Migrar Municipios</a></li>
    <li><a href="/migracion/pres/">3. Migrar Prestadores</a></li>
    <li><a href="/migracion/pres/det/">4. Migrar detalles de Prestadores</a></li>
    <li><a href="/migracion/corregir/dv/">5. Corregir digito verificador</a></li>
    <li><a href="/migracion/corregir/gerente/">6. Corregir Si no tiene gerente</a></li>
</ul>
</body>
</html>